# =========================
# R2R-Audio Experiment Config (SoundDiff + PPOTrainer "savi")

BASE_TASK_CONFIG_PATH: "configs/vln/r2r/r2r_audio_base.yaml"


TRAINER_NAME: "savi"  

NUM_PROCESSES: 6
NUM_UPDATES: 3000
LOG_INTERVAL: 10
CHECKPOINT_INTERVAL: 50

VIDEO_OPTION: []
VISUALIZATION_OPTION: []
REPLAY_STORE: False



EVAL:
  SPLIT: "val"
  USE_CKPT_CONFIG: True


TASK_CONFIG:
  ENVIRONMENT:
    MAX_EPISODE_STEPS: 500

  DATASET:
    TYPE: "r2r-audio"            
    SPLIT: "train"
    DATA_PATH: "data/datasets/r2r-audio/{split}/{split}.json.gz"   
    SCENES_DIR: "data/scene_datasets/mp3d"                     

  SIMULATOR:
   
    HABITAT_SIM_V0:
      GPU_DEVICE_ID: 0

    RGB_SENSOR:
      WIDTH: 256
      HEIGHT: 256
      HFOV: 90
      POSITION: [0.0, 1.25, 0.0]

    DEPTH_SENSOR:
      WIDTH: 256
      HEIGHT: 256
      HFOV: 90
      MIN_DEPTH: 0.5
      MAX_DEPTH: 5.0
      POSITION: [0.0, 1.25, 0.0]


    AUDIO:
      RIR_SAMPLING_RATE: 16000
     
      CHANNELS: 2
      ENABLE_BINAURAL: True

  TASK:
    task:
    measurements:
      distance_to_goal:
        type: DistanceToGoal
        distance_to: POINT
      success:
        type: Success
        success_distance: 3.0
      spl:
        type: SPL
      oracle_success:
        type: OracleSuccess
      oracle_navigation_error:
        type: OracleNavigationError

    SENSORS:
      - "RGB_SENSOR"
      - "DEPTH_SENSOR"
      - "GPS_COMPASS_SENSOR"        
      - "INSTRUCTION_SENSOR"         
      - "INSTRUCTION_EMBEDDING_SENSOR"  
      - "SPECTROGRAM_SENSOR"         

    MEASUREMENTS:
      - "DISTANCE_TO_GOAL"
      - "SUCCESS"
      - "SPL"
      - "SOFT_SPL"

    SUCCESS_DISTANCE: 3.0



MODEL:
  EMBED_DIM: 512
  RNN_HIDDEN_SIZE: 512

  MEMORY:
    SLOTS: 16

  SOUNDDIFF:
    STEPS: 10
    BETA_START: 0.0001
    BETA_END: 0.02
    HIDDEN_DIM: 1024
    FREEZE_IN_RL: true
    SAMPLE_STEPS: 4

 
  AUDIO:
    MODEL_NAME_OR_PATH: "Qwen2-Audio"
    OUTPUT_DIM: 1024
    USE_LORA: true
    LORA_R: 8
    LORA_ALPHA: 16
    SHARDED: true


  VISION:
    BACKBONE: "VGGT"
    OUTPUT_DIM: 1024
    PRETRAINED: true
    PRETRAINED_PATH: ""


  TASK:
    INPUT_DIM: 512

  USE_POSE: true
  POSE_INPUT_DIM: 4
  ALIGN_LOSS_W: 0.0



RL:
  SUCCESS_REWARD: 10.0

  POLICY_NAME: "SoundDiffVLNPolicy"

  PPO:
    clip_param: 0.2
    ppo_epoch: 2
    num_mini_batch: 2
    value_loss_coef: 0.5
    entropy_coef: 0.05
    lr: 2.5e-4
    eps: 1e-5
    max_grad_norm: 0.2
    num_steps: 150

    hidden_size: 512
    use_gae: True
    gamma: 0.99
    tau: 0.95

    use_linear_clip_decay: False
    use_linear_lr_decay: False
    reward_window_size: 50
    use_normalized_advantage: False

    policy_type: "sounddiff_vln"

 
    use_belief_predictor: False
    use_external_memory: False
    use_state_memory: True

    
    AUX_LOSSES:
      use_sounddiff_loss: false
      sounddiff_loss_weight: 0.1
