BASE_TASK_CONFIG_PATH: "configs/semantic_audionav/savi/mp3d/semantic_audiogoal.yaml"
TRAINER_NAME: "savi"
NUM_PROCESSES: 6
SENSORS: ["DEPTH_SENSOR", "RGB_SENSOR"]
NUM_UPDATES: 3000
LOG_INTERVAL: 10
CHECKPOINT_INTERVAL: 50
VIDEO_OPTION: []
VISUALIZATION_OPTION: []
REPLAY_STORE: False

EVAL:
  SPLIT: "val"
  USE_CKPT_CONFIG: True
MODEL:
  EMBED_DIM: 512
  RNN_HIDDEN_SIZE: 512
  MEMORY:
    SLOTS: 16
  SOUNDDIFF:
    STEPS: 10
    BETA_START: 0.0001
    BETA_END: 0.02
    HIDDEN_DIM: 1024
    FREEZE_IN_RL: true
    SAMPLE_STEPS: 4
  AUDIO:
    MODEL_NAME_OR_PATH: "Qwen2-Audio"
    OUTPUT_DIM: 1024
    USE_LORA: true
    LORA_R: 8
    LORA_ALPHA: 16
    SHARDED: true
  VISION:
    BACKBONE: "VGGT"
    OUTPUT_DIM: 1024
    PRETRAINED: true
    PRETRAINED_PATH: ""
  TASK:
    INPUT_DIM: 512
  USE_POSE: true
  POSE_INPUT_DIM: 4
  ALIGN_LOSS_W: 0.0
RL:
  WITH_QUERY_CONSTRAINT: True
  WITH_DISTANCE_CONSTRAINT: False
  CONSECUTIVE_CONSTRAINT_REWARD: True
  CONSECUTIVE_REWARD: -.5
  QUERY_REWARD: -.2
  QUERY_REWARD_DISTANCE: -.2
  NUM_TOTAL_QUERY: 3
  SOFT_QUERY_REWARD: False
  SOFT_QUERY_REWARD_MAX: -1.0
  SUCCESS_REWARD: 10.0
  POLICY_NAME: "SoundDiffVLNPolicy"
  PPO:
    clip_param: 0.2
    ppo_epoch: 2
    num_mini_batch: 2
    value_loss_coef: 0.5
    entropy_coef: 0.05
    lr: 2.5e-4
    eps: 1e-5
    max_grad_norm: 0.2
    num_steps: 150
    hidden_size: 512
    use_gae: True
    gamma: 0.99
    tau: 0.95
    use_linear_clip_decay: False
    use_linear_lr_decay: False
    reward_window_size: 50
    use_normalized_advantage: False
    policy_type: "sounddiff_vln"
    use_belief_predictor: False
    use_external_memory: False
    use_state_memory: True
    SCENE_MEMORY_TRANSFORMER:
      memory_size: 150
      hidden_size: 256
      nhead: 8
      num_encoder_layers: 1
      num_decoder_layers: 1
      dropout: 0.0
      dropout_goal: 0.0
      activation: 'relu'
      use_pretrained: False
      pretrained_path: ''
      freeze_encoders: False
      pretraining: True
    BELIEF_PREDICTOR:
      online_training: True
      train_encoder: False
      lr: 1e-3
      use_label_belief: True
      use_location_belief: True
    AUX_LOSSES:
      use_sounddiff_loss: false
      sounddiff_loss_weight: 0.1
  DDPPO:
    sync_frac: 0.6
    distrib_backend: "GLOO"
    rnn_type: "GRU"
    num_recurrent_layers: 1
    backbone: "custom_resnet18"
    pretrained_weights: ""
    pretrained: False
    reset_critic: False